@{
	ViewData["Title"] = "Página Home";
}

<div class="text-center">
	<h1 class="display-4">Bienvenido</h1>
	<p>Aprende un poco en <a href="https://docs.microsoft.com/aspnet/core">construye Web apps con ASP.NET Core</a>.</p>
</div>
