@*importando clase del controlado*@
@model WebApplication4.Models.TipoAplicacion
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Crear">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pe-3">Nueva Tipo de Aplicación</h2> 
            
        </div>
        <!--método post para el botón-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @*<!--el asp-for es para acceder al item label->*@
                    <label asp-for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                </div>
            </div>

           
            <br />
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit">Crear Nuevo</button>
                <a class="btn btn-success" asp-controller="TipoAplicacion" asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>

</form>

